h1 {
	padding-left: 45px;
}

.currency,
.titleCurrency,
.previousRate {
	display: flex;
}
.currentDate {
	width: 100px;
}

.currency > p {
	padding-right: 90px;
}

ul > li {
	display: flex;
	list-style-type: none;
	margin: 10px;
}

.currencies li:not(:first-child) .currency:hover {
	cursor: pointer;
	background-color: rgb(223, 223, 223);
}

.letterCode {
	width: 100px;
}
.currencyValue {
	width: 155px;
}

.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.currencyLi .letterCode {
	position: relative;
	display: inline-block;
}

.letterCode:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
